{% extends "parts/templates/index.html" %}
{% block content %}
    <ul>
    {% for i in UPS %}
        <li><a href="/EATON/9315/{{ i.power }}">{{ i.power }}kVA</a> </li>
    {% endfor %}
{#    <li><a href="/EATON/9315/capsandfans/{{  }}">80kVA</a> </li>#}
{#    <li><a href="/EATON/9315/capsandfans/100_160">100kVA</a> </li>#}
{#    <li><a href="/EATON/9315/capsandfans/100_160">160kVA</a> </li>#}
{#    <li><a href="#">225kVA</a> </li>#}
{#    <li><a href="#">500kVA</a> </li>#}
    </ul>
{% endblock %}